/* footer */

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 70px;
    h6{
        color: white;
        text-align: center;
    }
}