/* main */

.container{
    display: flex;
    flex-flow: wrap row;

    .caja1{
        img{
            width: 400px;
            border-radius: 10px;
            margin-left: 80%;
            margin-top: 50px;
        }
    }

    .caja2{
        margin-left: 25%;
        margin-top: 50px;
        p{
            width: 400px;
        }
    }

    .caja3{
        margin-left: 22%;
        margin-top: 50px;
        p{
            width: 400px;
        }
    }

    .caja4{
        img{
            width: 400px;
            border-radius: 10px;
            margin-left: 8%;
            margin-top: 50px;
        }
    }
}